<%- include("partials/header")%>
<div class="ui main text container segment">
    <div class="ui huge header">New Blog</div>
    <form class="ui form" action="/blogs" method="POST">

        <label>Title</label>
        <div class="fields">
            <input type="text" class="field" name="blog[title]" placeholder="title">
        </div>

        <label>Image</label>
        <div class="fields">
            <input type="text" class="field" name="blog[image]" placeholder="image">
        </div>

        <label>Blog Content</label>
        <div class="fields">
            <textarea name="blog[body]" id="" cols="30" rows="10"></textarea>
        </div>

        <div class="fields">
            <button class="ui inverted blue button">Submit</button>
        </div>
    </form>
</div>
<%- include("partials/footer")%>